{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="text-center"> Liste des livres </h1>

    <a href="/livres/ajout"> <button  class="btn btn-success m-3" type="submit"> <i class="bi bi-plus-square"></i> Ajout livre</button></a>

    <table class="border=1 w-75 mx-auto table table-dark table-striped-columns">
        <tr>
            <th> Isbn </th>
            <th> Titre livre </th>
            <th> Theme livre </th>
            <th> Nombres de pages livre </th>
            <th> Format </th>
            <th> Nom de l'auteur </th>
            <th> Prénom de l'auteur </th>
            <th> Editeur </th>
            <th> Année édition</th>
            <th> Prix </th>
            <th> Langue </th>   
            {% if  is_granted('ROLE_ADMIN') %}
            <th >Action </th> 
            {% endif %}  

        </tr>

        {% for livre in livres %}
            <tr>
                <td>{{ livre.ISBN }}</td>
                <td>{{ livre.titrelivre }}</td>
                <td>{{ livre.themelivre }}</td>  
                <td>{{ livre.nbrpageslivre }}</td>  
                <td>{{ livre.formatlivre }}</td>  
                <td>{{ livre.nomauteur }}</td>  
                <td>{{ livre.prenomauteur }}</td>  
                <td>{{ livre.editeur }}</td>  
                <td>{{ livre.anneeedition }}</td>  
                <td>{{ livre.prixvente }}</td>  
                <td>{{ livre.languelivre }}</td>  
            
                {# faire appaitre les boutons seulement en role ADMIN #}
                {% if  is_granted('ROLE_ADMIN') %}
                <td>
                <div class="d-flex">
                    <a href="{{ path ('update_livre', {'id':livre.id}) }}"><i class="bi bi-pencil-square btn btn-warning mx-2"></i></a>
                    <a href="{{ path ('delete_livre', {'id':livre.id}) }}" onclick="return confirm('Etes-vous sûr de vouloir supprimer ce livre?')"><i class="bi bi-trash btn btn-danger"></i></a>
                </div>
                </td>
                {% endif %}

            </tr>
        {% endfor %}


    </table>

{% endblock %}