{% extends 'base.html.twig' %}


{% block body %}
    <h1 class="text-center"> Liste nom des fournisseurs </h1>

    {# <a href="/fournisseurs/ajout"> <button  class="btn btn-success m-3" type="submit"> <i class="bi bi-plus-square"></i> Ajout fournisseur</button></a> #}

    <table class="border=1 w-75 mx-auto table table-dark table-striped-columns">
        <tr>
            <th> Code fournisseur </th>
            <th> Raison sociale </th>
            <th> Rue fournisseur </th>
            <th> Code postal </th>
            <th> Localité </th>
            <th> Pays </th>
            <th> Téléphone </th>
            <th> URL </th>
            <th> Email</th>
            <th> Fax </th>
        </tr>

        {% for fournisseur in fournisseurs %}
            <tr>
                <td>{{ fournisseur.codefournisseur }}</td>
                <td>{{ fournisseur.raisonsociale }}</td>
                <td>{{ fournisseur.ruefournisseur }}</td>  
                <td>{{ fournisseur.codepostal }}</td>  
                <td>{{ fournisseur.localite }}</td>  
                <td>{{ fournisseur.pays }}</td>  
                <td>{{ fournisseur.telfournisseur }}</td>  
                <td>{{ fournisseur.urlfournisseur }}</td>  
                <td>{{ fournisseur.emailfournisseur }}</td>  
                <td>{{ fournisseur.faxfournisseur }}</td>  
            </tr>
        {% endfor %}


    </table>
{% endblock %}